body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.btn-custom
{
    margin: 20%;
}
.Mockut1
{
    margin: 10%;
}
.form-control
{
    padding: 3px 10px;
    margin: 5px 10px;
    width: 270px;
}
.buttonreg
{
    margin-left: 150px;
    margin-top: 17px;

}
.TextReg
{
    padding: 3px 2px;
    margin: 3px 10px;
}
.blog2
{
    margin-top: 5%;
}
.blokreg1.blokreg2{
    margin-top: 50px;
}